<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
      </div>
    </nav>


    <main>
        <section>
            <h2>About Me</h2>
            <p>This is where you can write a brief introduction about yourself.</p>
        </section>

        <section>
            <h2>My Projects</h2>
            <p>Here you can showcase your projects.</p>
            <ul>
                <li><a href="https://github.com/19sblanco/website">This website</a></li>
                <li><a href="/projects/project2/">Traveling salesman</a></li>
                <li><a href="/projects/project3/">Project 3</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
  </div>
</nav>

</body>
</html>