<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling Salesman Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#demo">Demo</a></li>
                <li><a href="#problem">Problem</a></li>
                <li><a href="#process">Process</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="content-wrapper">
            {% include "base/sidebar.html" %}

            <main class="content">
                <h1 id="home">Traveling Salesman project written in C</h1>
                <a href="https://github.com/19sblanco/tsp_c" class="github-button" target="_blank">
                    <svg class="github-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                    View on GitHub
                </a>

                <div class="tsp-wrapper">
                    <div class="canvas-container" id="demo">
                        <h2>Interactive Demo</h2>
                        <canvas id="tspCanvas" width="600" height="500"></canvas>
                        <div class="demo-controls">
                            <label for="cityCount">Number of cities (2-14):</label>
                            <input type="number" id="cityCount" min="2" max="14" placeholder="Enter a number">
                            <button onclick="showRandomCities()">Show random cities</button>
                            <button onclick="showShortestPath()">Show shortest path</button>
                        </div>
                        <p id="errorMessage"></p>
                    </div>

                    <div class="content">
                        <h2 id="problem">Problem Description</h2>
                        <p>
                            The Traveling Salesman Problem involves finding the shortest route that visits every city exactly once and returns to the starting point. Learn more about the 
                            <a target="_blank" href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">traveling salesman problem</a>.
                        </p>

                        <p>
                            This problem is notoriously slow to solve as it requires checking every possible path between cities, resulting in N factorial steps for N cities.
                        </p>

                        <h2 id="process">My Process</h2>
                        <p>
                            I familiarized myself with the problem through the 
                            <a target="_blank" href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">wiki page,</a> 
                            then developed my own solution through my own reasoning and understanding of programming. I later found out that the method I used is called backtracking, a common algorithm in computer science.
                        </p>

                        <p>Backtracking computes solutions recursively. Read more about it 
                            <a href="https://www.geeksforgeeks.org/introduction-to-backtracking-2/">here.</a>
                            It's ideal for problems where exhaustive search is inefficient.
                        </p>

                        <h2 id="Optimization">Optimization</h2>
                        <p>
                            I wrote this problem in the C programming language. On top of that I used only stack memory which resulted in a program that is about 2 times faster than if I used heap memory.
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

    <script>
        var points = [];
        const canvas = document.getElementById("tspCanvas");
        const ctx = canvas.getContext("2d");

        function validateInput() {
            const cityCountInput = document.getElementById('cityCount');
            const errorMessage = document.getElementById('errorMessage');
            const cityCount = parseInt(cityCountInput.value);

            if (isNaN(cityCount)) {
                errorMessage.textContent = "Please enter a valid number.";
                return false;
            }

            if (cityCount < 2 || cityCount > 14) {
                errorMessage.textContent = "Please enter a number between 2 and 14.";
                return false;
            }

            errorMessage.textContent = ""; // Clear any previous error messages
            return true;
        }

        /*
        generate and display random cities on the html element
        */
        function showRandomCities() {
            if (validateInput()) {
                clearCanvas();

                var count = parseInt(document.getElementById("cityCount").value);
                points = get_random_cities(count);

                for (var i = 0; i < count; i++) {
                    var x = points[i].x;
                    var y = points[i].y;
                    drawPoint(ctx, x, y);
                }
            }
        }

        /*
        display the shortest path on the canvas html element
        */
        function showShortestPath() {
            if (validateInput()) {
                if (points.length == 0) {
                    showRandomCities();
                }

                // display something to show the use that its computing
                // make an ajax request to backend tsp program
                const queryString = points.map(point => `(${point.x},${point.y})`).join('&');
                const url = `/tsp_c?${queryString}`;

                fetch(url, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': "{{ csrf_token }}",
                    }
                })
                .then(response => response.json())
                .then(data => {
                    cpu_time = data.cpu_time;
                    distance = data.distance;
                    points = data.points;
                    console.log(cpu_time );
                    console.log(distance );
                    drawLines(points);
                    // todo dislay the distance
                    // todo display the cpu_time
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
            }
        }

        /*
        given an integer n, return n city objects
        where each city coordinate is random
        */
        function get_random_cities(n) {
            var min = 0;
            var max = document.getElementById("tspCanvas").height;
            let points = [];
            for (let i = 0; i < n; i++) {
                x = Math.floor(Math.random() * (max - min + 1)) + min;
                y = Math.floor(Math.random() * (max - min + 1)) + min;
                let point = { x: x, y: y }; 
                points.push(point);
            }
            return points;
        }

        /*
        clear the canvas 
        */
       function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            points = [];
       }
        
        /*
        draw a point given the coordinates
        */
        function drawPoint(ctx, x, y) {
            var size = 8;
            ctx.fillStyle = "red";
            ctx.fillRect(x, y, size, size);
        }

        /*
        draw lines between each point in points
        */
        function drawLines(points) {
            ctx.beginPath();
            ctx.moveTo(points[0].x, points[0].y);
            
            for (let i = 1; i < points.length; i++) {
                ctx.lineTo(points[i].x, points[i].y);
            }
            
            ctx.stroke();
        }

    </script>

</body>
</html>