<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsp Demo</title>
    <scirpt src="../../static/js/random_cities.js"></scirpt>
    <style>
        .right-side-div {
            position: absolute; /* or fixed */
            right: 0;
            top: 0;
            width: 50vh; /* Adjust the width as needed */
            height: 50vh; /* Adjust the height as needed */
            background-color: lightblue; /* Just for visual reference */
        }
    </style>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <h1>Welcome to my Traveling Salesman project</h1>
                <p>insert github link here</p>
                <p>
                    This project is written in the C programming language. It used the backtracking algorithm.
                </p>
                <h2>Problem description</h2>
                <p>
                    For those unfamiliar the traveling salesman problem is a famous problem in computer science that states
                    given the location of a set of cities, find the shortest route that visits every city exactly once and returns
                    to the starting city. Here is a more indepth description of 
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">traveling salesman problem </a> the for those interested. 
                    <br>
                    <br>
                    This problem is famous for being notoriously slow to solve with a computer because the only known way of solving it is to try out every possible
                    path between the cities, meaning for N cities a computer would have to complete N <a target="_blank" href="https://en.wikipedia.org/wiki/Factorial">factorial</a> steps.
                </p>
                <h2>My process</h2>
                <p>
                    First I just familiarized myself with the problem description itself. I read the first section of the
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">wiki page</a> but not more.
                    I wanted to come up with a solution by myself. After thinking about it for a while I came up with my solution. I later found out that
                    the solution that I came up with is a common algoirthm used in computer science called backtracking.
                    <br>
                    <br>
                    Backtracking is where all solutions for a problem is computed step by step recursively. You can read more about it <a href="https://www.geeksforgeeks.org/introduction-to-backtracking-2/">here</a>. 
                    It is ideal for problems where there is no solution more effiecient than trying out everything.
                </p>
                <h2>Demo</h2>
                <form>
                    <label for="cites">Enter the Number of random cities</label><br>
                    <input type="text" id="cities" name="cities"><br><br>
                    <input type="button" value="show random cities" onclick="get_random_cities(5)"><br><br>
                    <input type="button" value="show shortest path"><br><br>
                </form>
            </div>
            <div class="col">
                <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
                    <script>
                    var c = document.getElementById("myCanvas");
                    var ctx = c.getContext("2d");
                    ctx.moveTo(0, 0);
                    ctx.lineTo(200, 100);
                    ctx.stroke();

                    ctx.fillRect(10,10,10,10); // fill in the pixel at (10,10)
                    </script>
                </canvas>
            </div>
        </div>
    </div>



</body>
</html>
