<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling Salesman Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
</head>

<body>
    <nav class="navbar">
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/19sblanco/" target="_blank">GitHub</a></li>
            <li><a href="www.linkedin.com/in/steven-blanco-b69553199" , target="_blank">LinkedIn</a></li>
            <li><a href="mailto:steven.blanc521@gmail.com">Steven.blanc521@gmail.com</a></li>
        </ul>
    </nav>


    <div class="content">
        <div class="sidebar">
            <h2>Projects</h2>
            <ul>
                <li><a href="/tsp">Traveling Salesman</a></li>
                <li><a href="/">Speed Read, coming soon</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h2>Description</h2>
            <p>
                This is an interactive demo of my implimentation of the Traveling Salesman project
                written in C. I created various versions, they can all be seen on my github page.
                To see my github page look at the navigation bar at the top of the screen. 
            </p>

            <h2>Demo</h2>
            <ol>
                <li>On the right hand side, navigate to "Cities (2-14):" and pick the number of random cities.</li>
                <li>Click on "Generate cities" to randomly generate and display the random cities.</li>
                <li>Click "Show shortest path" to calculate the shortest path using the traveling salesman
                    algorithm.</li>
                <li>View results below demo!</li>

                <h2>Interactive Demo</h2>
                <canvas id="tspCanvas" width="600" height="500"></canvas>
                <div class="demo-controls">
                    <label for="cityCount">Cities (2-14):</label>
                    <input type="number" id="cityCount" min="2" max="14" placeholder="Enter a number">
                    <button onclick="showRandomCities()">Generate cities</button>
                    <button onclick="showShortestPath()">Show shortest path</button>
                    <div id="loadingSpinner" class="spinner" style="display: none;"></div>
                </div>
                <div id="results" class="results-container" style="display: none;">
                    <p>Shortest Path Distance (in pixels): <span id="distanceResult"></span></p>
                    <p>CPU Time: <span id="cpuTimeResult"></span> seconds</p>
                </div>
                <p id="errorMessage"></p>
            </ol>

        </div>
    </div>


    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

    <script>
        var points = [];
        const canvas = document.getElementById("tspCanvas");
        const ctx = canvas.getContext("2d");

        function validateInput() {
            const min_cities = 1;
            const max_cities = 20;

            const cityCountInput = document.getElementById('cityCount');
            const errorMessage = document.getElementById('errorMessage');
            const cityCount = parseInt(cityCountInput.value);

            if (isNaN(cityCount)) {
                errorMessage.textContent = "Please enter a valid number.";
                return false;
            }

            if (cityCount < min_cities || cityCount > max_cities) {
                errorMessage.textContent = `Please enter a number between ${min_cities} and ${max_cities}.`;
                return false;
            }

            errorMessage.textContent = ""; // Clear any previous error messages
            return true;
        }

        /*
        generate and display random cities on the html element
        */
        function showRandomCities() {
            if (validateInput()) {
                clearCanvas();
                document.getElementById('results').style.display = 'none'; // Hide results

                var count = parseInt(document.getElementById("cityCount").value);
                points = get_random_cities(count);

                for (var i = 0; i < count; i++) {
                    var x = points[i].x;
                    var y = points[i].y;
                    drawPoint(ctx, x, y);
                }
            }
        }

        /*
        display the shortest path on the canvas html element
        */
        function showShortestPath() {
            if (validateInput()) {
                if (points.length == 0) {
                    showRandomCities();
                }

                const queryString = points.map(point => `(${point.x},${point.y})`).join('&');
                const url = `/tsp_c?${queryString}`;

                document.getElementById('loadingSpinner').style.display = 'inline-block';

                fetch(url, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': "{{ csrf_token }}",
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        cpu_time = data.cpu_time;
                        distance = data.distance;
                        points = data.points;
                        drawLines(points);
                        document.getElementById('distanceResult').textContent = distance.toFixed(2);
                        document.getElementById('cpuTimeResult').textContent = cpu_time.toFixed(6);
                        document.getElementById('results').style.display = 'block';

                        document.getElementById('loadingSpinner').style.display = 'none';
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        document.getElementById('loadingSpinner').style.display = 'none';
                    });
            }
        }

        /*
        given an integer n, return n city objects
        where each city coordinate is random
        */
        function get_random_cities(n) {
            var min = 0;
            var max = document.getElementById("tspCanvas").height;
            let points = [];
            for (let i = 0; i < n; i++) {
                x = Math.floor(Math.random() * (max - min + 1)) + min;
                y = Math.floor(Math.random() * (max - min + 1)) + min;
                let point = { x: x, y: y };
                points.push(point);
            }
            return points;
        }

        /*
        clear the canvas 
        */
        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            points = [];
        }

        /*
        draw a point given the coordinates
        */
        function drawPoint(ctx, x, y) {
            var size = 8;
            ctx.fillStyle = "black";
            ctx.fillRect(x - (size / 2), y - (size - 2), size, size);
        }

        /*
        draw lines between each point in points
        */
        function drawLines(points) {
            ctx.beginPath();
            ctx.moveTo(points[0].x, points[0].y);

            for (let i = 1; i < points.length; i++) {
                ctx.lineTo(points[i].x, points[i].y);
            }

            ctx.stroke();
        }

    </script>

</body>

</html>
