<aside class="sidebar">
    <div class="sidebar-content">
        {% load static %}
        <img src="{% static 'portfolio/headshot.jpg' %}" alt="Steven Blanco" class="profile-img">
        <h2 class="sidebar-title">Projects</h2>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="https://github.com/19sblanco/website" target="_blank">This website</a></li>
                <li><a href="/tsp">Traveling Salesman</a></li>
            </ul>
        </nav>
    </div>
</aside>