:root {
    --nav-bar-height: 60px;
    --side-bar-width: 160px;
    --content-max-width: 1000px;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    min-height: 100vh; /* Ensure minimum height of 100% of viewport */
}

/* Navigation Bar */
.navbar {
    height: var(--nav-bar-height);
    min-height: var(--nav-bar-height);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 100%;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #cbd5e0;
}

/* Content Wrapper */
.content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Side Bar */
.sidebar {
    width: var(--side-bar-width);
    min-width: var(--side-bar-width);
    background-color: rgb(241, 207, 161);
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #cbd5e0;
}

/* main-content Section */
.main-content {
    padding-left: 20px;
    padding-right: 20px;
}

.main-content h1 {
    margin-top: 0;
}

.main-content h2 {
    text-align: center;
}

#tspCanvas {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
}

/* Ensure the content area takes up all available vertical space */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* tsp */
#tspCanvas {
    background-color: white;
    border: 1px solid #000000;
}
