:root {
    --nav-bar-height: 20px;
    --side-bar-width: 400px;
    --content-max-width: 1000px; /* Adjust this value as needed */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
}

/* Navigation Bar */
.navbar ul {
    list-style-type: none;
    padding: var(--nav-bar-height); 
    margin: 0;
    display: flex;
    justify-content: center; 
    background-color: burlywood;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #cbd5e0;
}

/* Content Wrapper */
.content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Inner Content Container */
.content-inner {
    display: flex;
    max-width: var(--content-max-width);
    width: 100%;
}

/* Side Bar */
.sidebar {
    width: var(--side-bar-width);
    background-color: rgb(241, 207, 161);
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

/* main-content Section */
.main-content {
    flex-grow: 1;
    padding: 20px;
    border-radius: 5px
}

.main-content h1 {
    margin-top: 0;
}

.main-content h2 {
    text-align: center;
}

#tspCanvas {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
}

/* tsp */
#tspCanvas {
    background-color: white;
    border: 1px solid #000000;
}
